.container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 50px;
}

.table {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.container > div {
    padding: 3px;
}

.EQ {
    background-color: white;
}

.collection{
    background-color: white;
}

.transport, .EQ {
    grid-column: 1 / -1;
}

html, body {
    background-color: #4D4D4D;
    margin: 0px;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

#waveform {
    margin-left: auto;
    width: 300px;
}